<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
  <title>SCP Foundation</title>
  <style>
  	* {
  		font-family: Helvetica, sans-serif;
  	}
  </style>
</h:head>

<h:body>
	<h:form>
		<h1>Welcome to the foundation</h1>
		<h2>#{siteStaff.slogan}</h2>
		<p>Enter your name, researcher:</p>
		<br/>
	   	<br/>
	       Name: <p:inputText value="#{siteStaff.name}" />
	   	<br/>
	       Country: <p:inputText value="#{siteStaff.country}" />
	   	<br/>
		<br/>

        <p:selectOneRadio value="#{siteStaff.itemClassification}">
			<f:selectItems value="#{siteStaff.getClassifications()}" />
		</p:selectOneRadio>
		<br/><br/>

		<h:commandButton value="Submit" action="#{siteStaff.createPersonnel}" />
	</h:form>
</h:body>

</html>
