<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:com="http://xmlns.jcp.org/jsf/composite/composite">

<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<style>
.login-form {
	width: 450px;
	left: 90%
}

#form3 {
	text-align: center;
}
</style>

	<title>Inventory</title>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>

<h:body styleClass="container">
	<com:Header activeLink="Inventory" />

	<div style="padding: 15px 45px">
		<div class="actions" style="justify-content: flex-end">
			<form action="stocksituation" style="margin-right: 15px">
				<p:commandButton value="stocksituationPdf" type="submit" />
			</form>

			<h:form>
				<p:commandButton ajax="false" value="Create Inventory"
					action="#{productInventoryBean.displayCreatePurchase()}" />
			</h:form>
		</div>
		<h:form>
			<div class="search">
				<p:inputText style="margin-right: 10px" ajax="false"
					onclick="myFunction()" value="#{productInventoryBean.keySearch}" />

				<p:commandButton ajax="false"
					action="#{productInventoryBean.searchByName()}" value="Search" />
			</div>
		</h:form>
		<h:form>
			<div style="width: 100%; display: flex; justify-content: flex-end">
				<p:commandButton id="sortProducts" style="margin-bottom: 20px"
					ajax="false" type="button" value="Sort" />
			</div>

			<p:overlayPanel for="sortProducts" id="sortProductsPanel"
				hideEffect="fade" dynamic="true" showCloseIcon="true" modal="true"
				style="width: 300px; padding-top: 15px">

				<div>
					<div class="checkbox-group">
						<p:selectOneRadio id="sortingKey"
							value="#{productInventoryBean.sortBy}">
							<f:selectItem itemLabel="Quantity" itemValue="quantity" />
							<f:selectItem itemLabel="Name" itemValue="product.name" />
						</p:selectOneRadio>
					</div>

					<br />

					<div class="checkbox-group">
						<p:selectOneRadio id="sortingOrder"
							value="#{productInventoryBean.descending}">
							<f:selectItem itemLabel="Descending" itemValue="true" />
							<f:selectItem itemLabel="Ascending" itemValue="false" />
						</p:selectOneRadio>
					</div>

					<br />
					<p:commandButton style="width: 100%" value="Submit" type="submit"
						ajax="false"
						action="#{productInventoryBean.sortPurchaseOrderConfirm()}" />
				</div>

			</p:overlayPanel>
		</h:form>



		<h:form id="form3">
			<p:dataTable cellpadding="6" border="1" styleClass="table"
				var="product" value="#{productInventoryBean.productInventory}">

				<p:column headerText="Product code">
					<p:outputLabel value="#{product.product.code}" />
				</p:column>

				<p:column headerText="Product">
					<p:outputLabel value="#{product.product}" />
				</p:column>

				<p:column headerText="Quantity">
					<p:outputLabel value="#{product.quantity}" />
				</p:column>



				<p:column headerText="Update">
					<p:commandButton ajax="false" value="Update"
						action="#{productInventoryBean.loadInventoryUpdate(product.id)}"/>
				</p:column>

				<p:column align="center" headerText="Delete">
					<p:commandButton ajax="false"
						onclick="return myconfirm('#{product.product.name}');"
						styleClass="delete" value="Delete"
						action="#{productInventoryBean.deleteInventory(product.id)}">

					</p:commandButton>
				</p:column>

			</p:dataTable>
		</h:form>



		<h:form>
			<h:panelGroup rendered="#{productInventoryBean.visibleErrorSearch}"
				styleClass="popup-panel-overlay">

				<div class="popup-panel-error-search">
					<h:panelGrid>
						<h:outputLabel
							value='This name  "#{purchaseOrderBean.keySearch}" of product  does not  Exist' />
						<h:commandButton value="CONFIRM"
							action="#{productInventoryBean.hideFormErrorSearch()}" />
					</h:panelGrid>
				</div>
			</h:panelGroup>

		</h:form>

<h:form>
			 <h:panelGroup
			 	 rendered="#{productInventoryBean.visibleCreateInventory}"
			 	class="popup-panel-overlay">
			 	<div class="popup-panel popup-panel--wide">
					<table style="margin-left: 14%" cellpadding="17">

					<tr>
						<p:messages/>
					</tr>
					
						<tr>
							<td>
								<p:outputLabel
									style="margin-left: -22%;margin-top: 22%;"
									value="Product  "
									for="product" />
							</td>

							<td>
								<p:selectOneMenu
									id="product"
									value="#{productInventoryBean.idProductSelect}">
									<f:selectItems
										var="p"
										itemValue="#{p.id}"
										itemLabel="#{p.name}"
										value="#{productInventoryBean.products}" />
								</p:selectOneMenu>
							</td>
						</tr>
						
						<tr>	
							<td>
								<p:outputLabel
									style="margin-left: -22%;"
									value="Quantity  "
									for="quantity" />
							</td>

							<td>
								<h:inputText
									id="quantity"
									value="#{productInventoryBean.quantity}" />
								</td>
						</tr>
	
						<tr>
							<td>
								<p:commandButton
									ajax="false"
									value="CONFIRM"
									action="#{productInventoryBean.createInventoryConfirm()}" />
							</td>

							<td>
								<p:commandButton
									ajax="false"
									value="CANCEL"
									action="#{productInventoryBean.createInventoryCancel()}" />
							</td>
						</tr>
					</table>
				</div>
			</h:panelGroup>
		</h:form>

		
	</div>




	<h:form>
		<h:panelGroup
			rendered="#{productInventoryBean.visibleUpdateInventory}"
			styleClass="popup-panel-overlay">
			<div class="popup-panel popup-panel--wide">
				<table cellpadding="17">
					<tr><p:messages /></tr>
					
					<tr>
						<td><p:outputLabel style="margin-left: -22%;margin-top: 22%;"
								value="Product  " for="productu" /></td>

						<td><p:selectOneMenu id="productu"
								value="#{productInventoryBean.idProductSelect}">
								<f:selectItems var="p" itemValue="#{p.id}" itemLabel="#{p.name}"
									value="#{productInventoryBean.products}" />

							</p:selectOneMenu></td>
					</tr>

					<tr>
						<td><p:outputLabel style="margin-left: -22%;"
								value="Quantity  " for="quantityu" /></td>

						<td><h:inputText id="quantityu"
								value="#{productInventoryBean.quantity}" /></td>
					</tr>


					<tr>
						<td><p:commandButton ajax="false" value="CONFIRM"
								action="#{productInventoryBean.updateInventoryConfirm()}" /></td>
						<td><p:commandButton ajax="false" value="CANCEL"
								action="#{productInventoryBean.updateInventoryCancel()}" /></td>
					</tr>
				</table>
			</div>
		</h:panelGroup>
	</h:form>



	<script type="text/javascript">
		function myconfirm(name) {
			return confirm("Are you sure you want to delete productInventory entry for product: \""
					+ name + "\" ?");
		}

		function toggle(id) {
			var x = document.getElementByClass("keySearch");

			if (id == 2)
				x.style.visibility = "visible";

			if (id == 3)
				x.style.display = "visible";

		}
	</script>
</h:body>

</html>

