<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:com="http://xmlns.jcp.org/jsf/composite/composite">
<h:head>

	<title>Products</title>
	<h:outputStylesheet library="css" name="style.css" />
	<style>
</style>
</h:head>

<h:body style="padding: 0; margin: 0">
	<com:Header activeLink="Products" />


	<div style="padding: 15px 45px">
		<h:form id="actions">
			<div class="actions">
				<div class="search">
					<p:inputText
						style="margin-right: 10px"
						ajax="false"
						onclick="myFunction()"
						value="#{productBean.keySearch}"/>
						
					<p:commandButton
						ajax="false"
						action="#{productBean.searchByName()}"
						value="Search"/>
				</div>

				<p:commandButton
					style="margin-left: auto"
					ajax="false"
					value="Create Product"
					action="#{productBean.displayFormCreatProduct()}"/>

				<p:commandButton
					ajax="false"
					value="All product"
					action="#{productBean.init()}" />
	
			</div>
		</h:form>
<h:form>
			<div style="width: 100%; display: flex; justify-content: flex-end">
				<p:commandButton
					id="sortProducts"
					style="margin-bottom: 20px"
					ajax="false"
					type="button"
					value="Sort" />
			</div>
	
			<p:overlayPanel
				for="sortProducts"
			 	id="sortProductsPanel"
			 	hideEffect="fade"
			 	dynamic="true"
			 	showCloseIcon="true"
			 	modal="true"
			 	style="width: 300px; padding-top: 15px">
			 	
				<div>
					<div class="checkbox-group">
					 	<p:selectOneRadio id="sortingKey" value="#{productBean.sortBy}">
				            <f:selectItem itemLabel="Name" itemValue="name" />
				            <f:selectItem itemLabel="Price" itemValue="price" />
				        </p:selectOneRadio>
					</div>
					
					<br/>
	
					<div class="checkbox-group">
					 	<p:selectOneRadio id="sortingOrder" value="#{productBean.descending}">
				            <f:selectItem itemLabel="Descending" itemValue="true" />
				            <f:selectItem itemLabel="Ascending" itemValue="false" />
				        </p:selectOneRadio>
					</div>
					
					<br/>	
					<p:commandButton
						style="width: 100%"
						value="Submit"
						type="submit"
						ajax="false"
						action="#{productBean.sortProductConfirm()}"/>
				</div>
		
			</p:overlayPanel>
		</h:form>
	<h:form id="form3">
			<p:dataTable
				cellpadding="6"
				border="1"
				styleClass="table"
				var="product"
				value="#{productBean.products}">
	
				<p:column headerText="Code">
					<p:outputLabel value="#{product.code}"/>
				</p:column>
			
				<p:column headerText="Name">
					<p:outputLabel value="#{product.name}"/>
				</p:column>
				
				<p:column colspan="4" headerText="Description">
					<p:outputLabel value="#{product.description}"/>
				</p:column>
				
				<p:column  headerText="Price">
					<p:outputLabel value="#{product.price}"/>
				</p:column>
				
				<p:column headerText="Update">
					<p:commandButton ajax="false" value="Update" action="#{productBean.loadProductUpdate()}">
						<f:param name="idProductUpdate" value="#{product.id}"/>
					</p:commandButton>
				</p:column>
				
				<p:column align="center" headerText="Delete">
					<p:commandButton
						ajax="false"
						onclick="return myconfirm('#{product.name}');"
						styleClass="delete"
						value="Delete"
						action="#{productBean.deleteProduct()}">
						<f:param name="id" value="#{product.id}"/>
					</p:commandButton>
				</p:column>
	
			</p:dataTable>
		</h:form>
	
		
		
		
		<h:form>
	
			<h:panelGroup
				rendered="#{productBean.visibleErrorDelete}"
				styleClass="popup-panel-overlay">
				<div class="popup-panel-error">
					<h:panelGrid>
						<h:outputLabel value='You cannot delete "#{productBean.productNameDeleted}", is already use in Inventory or Purchase Orders '/>
						<h:commandButton value="CONFIRM" action="#{productBean.hideFormErrorDelete()}"/>
					</h:panelGrid>
				</div>
			</h:panelGroup>
	
			<h:panelGroup
				rendered="#{productBean.visibleErrorSearch}"
				styleClass="popup-panel-overlay">
	
				<div class="popup-panel-error-search">
					<h:panelGrid>
						<h:outputLabel value='This name  "#{productBean.keySearch}" of product  does not  Exist'/>
						<h:commandButton  value="CONFIRM" action="#{productBean.hideFormErrorSearch()}"/>
					</h:panelGrid>
				</div>
			</h:panelGroup>
	
		</h:form>
		
		
		<!-- Product creation popup. -->
	<h:form>
			 <h:panelGroup
			 	 rendered="#{productBean.visibleFormCreatProduct}"
			 	class="popup-panel-overlay">
			 	<div class="popup-panel">
					<table cellpadding="5">
						<tr>
							<p:messages />
						</tr>
					
						<tr>
							<td><p:outputLabel value="Name  " for="name"/></td>
						</tr>
						<tr>
							<td>
								<p:inputText
									id="name"
									styleClass="form-control"
									value="#{productBean.name}"/>
								</td>
							<td></td>
							<td></td>
						</tr>
	
						<tr>
							<td><p:outputLabel value="Price  " for="price"/></td>
							<td><p:outputLabel value="Code  " for="code" /></td>
							<td></td>
						</tr>
	
						<tr>
							<td>
								<p:inputText
									id="price"
								styleClass="form-control"
									value="#{productBean.price}"/>
							</td>
							<td>
								<p:inputText
									id="code"
									styleClass="form-control"
									value="#{productBean.code}"/>
							</td>
							<td></td>
						</tr>
	
						<tr>
							<td><p:outputLabel value="Description  " for="description"/></td>
						</tr>
	
						<tr>
	
							<td colspan="3">
								<p:inputTextarea
									id="description"
									cols="30"
									rows="9"
									styleClass="form-control"
									value="#{productBean.description}"/>
							</td>
	
						</tr>
	
						<tr>
							<td>
								<p:commandButton
									value="CONFIRM"
									ajax="false"
									styleClass="create-product"
									action="#{productBean.createProductConfirmButton()}"/>
							</td>
	
							<td>
								<p:commandButton
									ajax="false"
									value="CANCEL"
									action="#{productBean.createProductCancelButton()}" />
							</td>
	
						</tr>
					</table>
				</div>
			</h:panelGroup>
		</h:form>
	
<!-- Product update popup. -->
		<h:form>
			<h:panelGroup
			 	rendered="#{productBean.visibleFormUpdateProduct}"
				styleClass="popup-panel-overlay">
	
				<div class="popup-panel">
					<table cellpadding="5">
						<tr>
							<h:messages/>
						</tr>
						
						<tr>
							<td><p:outputLabel value="Name  " for="name"/></td>
						</tr>
						<tr>
							<td>
								<p:inputText
									id="name"
									syleClass="form-control"
									value="#{productBean.name}"/>
							</td>
							<td></td>
							<td></td>
						</tr>
	
						<tr>
							<td><p:outputLabel value="Price  " for="price"/></td>
							<td><p:outputLabel value="Code  " for="code" /></td>
							<td></td>
	
						</tr>
	
						<tr>
							<td>
								<p:inputText
									id="price" 
									syleClass="form-control"
									value="#{productBean.price}"/>
							</td>
							
							<td>
								<p:inputText
									id="code"
									syleClass="form-control"
									value="#{productBean.code}"/>
							</td>
							<td></td>
	
						</tr>
	
						<tr>
							<td>
								<p:outputLabel
									value="Description "
									for="description"/></td>
							<td></td>
							<td></td>
						</tr>
	
						<tr>
	
							<td colspan="3">
								<p:inputTextarea
									id="description"
									cols="30"
									rows="9"
									syleClass="form-control"
									value="#{productBean.description}"/>
							</td>
	
						</tr>
	
						<tr>
							<td>
								<p:commandButton
									ajax="false"
									value="CONFIRM"
									action="#{productBean.updateProductConfirmButton()}"/>
							</td>
	
							<td>
								<p:commandButton
									ajax="false"
									value="CANCEL"
									action="#{productBean.updateProductCancelButton()}"/>
							</td>
						</tr>
					</table>
				</div>
			</h:panelGroup>
		</h:form>
	
	
	</div>
		
	<script type="text/javascript">
		$(".show-all-product").click(() => $(".key-search").val(""));


		function myconfirm(name) {
			return confirm("Are you sure you want to delete  " + name + " ?");
		}
		
		function toggle(id) {
			var x = document.getElementByClass("keySearch");
			
			if (id == 2)
				x.style.visibility = "visible";
	
			if (id == 3)
				x.style.display = "visible";
			
		}
	</script>

</h:body>

</html>
