<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:com="http://xmlns.jcp.org/jsf/composite/composite">

<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<style>
.login-form {
	width: 450px;
	left: 90%
}

#form3 {
	text-align: center;
}
</style>

	<title>Purchase orders</title>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>

<h:body styleClass="container">
	<com:Header activeLink="PurchaseOrders" />

	<div style="padding: 15px 45px">
		<div class="actions" style="justify-content: flex-end">
			<form action="stocksituation">
				<input value="stocksituationPdf" type="submit" />
			</form>
			
			<h:form>
				<p:commandButton ajax="false" value="Create order"
					action="#{purchaseOrderBean.displayCreatePurchase()}" />
			</h:form>
		</div>
		<h:form>
			<div class="search">
				<p:inputText style="margin-right: 10px" ajax="false"
					onclick="myFunction()" value="#{purchaseOrderBean.keySearch}" />

				<p:commandButton ajax="false"
					action="#{purchaseOrderBean.searchByCode()}" value="Search" />
			</div>
		</h:form>
		<h:form>
			<div style="width: 100%; display: flex; justify-content: flex-end">
				<p:commandButton id="sortProducts" style="margin-bottom: 20px"
					ajax="false" type="button" value="Sort" />
			</div>

			<p:overlayPanel for="sortProducts" id="sortProductsPanel"
				hideEffect="fade" dynamic="true" showCloseIcon="true" modal="true"
				style="width: 300px; padding-top: 15px">

				<div>
					<div class="checkbox-group">
						<p:selectOneRadio id="sortingKey"
							value="#{purchaseOrderBean.sortBy}">
							<f:selectItem itemLabel="Delivery date" itemValue="deliveryDate" />
							<f:selectItem itemLabel="Quantity" itemValue="quantity" />
						</p:selectOneRadio>
					</div>

					<br />

					<div class="checkbox-group">
						<p:selectOneRadio id="sortingOrder"
							value="#{purchaseOrderBean.descending}">
							<f:selectItem itemLabel="Descending" itemValue="true" />
							<f:selectItem itemLabel="Ascending" itemValue="false" />
						</p:selectOneRadio>
					</div>

					<br />
					<p:commandButton style="width: 100%" value="Submit" type="submit"
						ajax="false"
						action="#{purchaseOrderBean.sortPurchaseOrderConfirm()}" />
				</div>

			</p:overlayPanel>
		</h:form>



		<h:form id="form3">
			<p:dataTable cellpadding="6" border="1" styleClass="table"
				var="product" value="#{purchaseOrderBean.purchaseOrder}">

				<p:column headerText="Product code">
					<p:outputLabel value="#{product.product.code}" />
				</p:column>

				<p:column headerText="Quantity">
					<p:outputLabel value="#{product.quantity}" />
				</p:column>

				<p:column headerText="Delivery date">
					<p:outputLabel value="#{product.deliveryDate}">
						<f:convertDateTime timeZone="GMT+3" pattern='dd/MM/yyyy' />
					</p:outputLabel>
				</p:column>


				<p:column headerText="Update">
					<p:commandButton ajax="false" value="Update"
						action="#{purchaseOrderBean.loadProductUpdate(product.id)}">

					</p:commandButton>
				</p:column>

				<p:column align="center" headerText="Delete">
					<p:commandButton ajax="false"
						onclick="return myconfirm('#{product.product.name}');"
						styleClass="delete" value="Delete"
						action="#{purchaseOrderBean.deletePurchaseOrder(product.id)}">

					</p:commandButton>
				</p:column>

			</p:dataTable>
		</h:form>










		<h:form>
			<h:panelGroup rendered="#{purchaseOrderBean.visibleCreatePurchase}"
				styleClass="popup-panel-overlay">
				<div class="popup-panel popup-panel--wider">
					<table style="margin-left: 14%" cellpadding="17">

						<tr>
							<p:messages style="margin-left: 20%;color:red;" />
						</tr>
						<tr>
							<td><p:outputLabel
									style="margin-left: -22%;margin-top: 22%;" value="Product  "
									for="product" /></td>

							<td><p:selectOneMenu id="product"
									value="#{purchaseOrderBean.idProductSelect}">
									<f:selectItems var="p" itemValue="#{p.id}"
										itemLabel="#{p.name}" value="#{purchaseOrderBean.products}" />

								</p:selectOneMenu></td>
						</tr>

						<tr>
							<td><p:outputLabel style="margin-left: -22%;"
									value="Quantity  " for="quantity" /></td>

							<td><h:inputText id="quantity"
									value="#{purchaseOrderBean.quantity}" /></td>
						</tr>

						<tr>
							<td><p:outputLabel style="margin-left: -72%;"
									value="Delivery date " for="deliveryDate" /></td>

							<td><p:calendar showOn="both" placeholder=""
									id="deliveryDate" styleClass="deliveryDate"
									style="margin-left: -16%;" pattern="dd/MM/yyyy"
									value="#{purchaseOrderBean.deliveryDate}"
									mindate="#{purchaseOrderBean.getMinDate()}" /></td>
						</tr>
						<tr>
							<td><p:commandButton ajax="false" value="CONFIRM"
									action="#{purchaseOrderBean.createPurchaseConfirm()}" /></td>
							<td><p:commandButton ajax="false" value="CANCEL"
									action="#{purchaseOrderBean.cancel()}" /></td>
						</tr>
					</table>
				</div>
			</h:panelGroup>
		</h:form>


		<h:form>
			<h:panelGroup rendered="#{purchaseOrderBean.visibleErrorSearch}"
				styleClass="popup-panel-overlay">

				<div class="popup-panel-error-search">
					<h:panelGrid>
						<h:outputLabel
							value='This code  "#{purchaseOrderBean.keySearch}" of product  does not  Exist' />
						<h:commandButton value="CONFIRM"
							action="#{purchaseOrderBean.hideFormErrorSearch()}" />
					</h:panelGrid>
				</div>
			</h:panelGroup>

		</h:form>


		<h:form>
			<h:panelGroup rendered="#{purchaseOrderBean.visibleCreatePurchase}"
				styleClass="popup-panel-overlay">
				<div class="popup-panel popup-panel--wider">
					<table style="margin-left: 14%" cellpadding="17">

						<tr>
							<p:messages style="margin-left: 20%;color:red;" />
						</tr>
						<tr>
							<td><p:outputLabel
									style="margin-left: -22%;margin-top: 22%;" value="Product  "
									for="productu" /></td>

							<td><p:selectOneMenu id="productu"
									value="#{purchaseOrderBean.idProductSelect}">
									<f:selectItems var="p" itemValue="#{p.id}"
										itemLabel="#{p.name}" value="#{purchaseOrderBean.products}" />

								</p:selectOneMenu></td>
						</tr>

						<tr>
							<td><p:outputLabel style="margin-left: -22%;"
									value="Quantity  " for="quantityu" /></td>

							<td><h:inputText id="quantityu"
									value="#{purchaseOrderBean.quantity}" /></td>
						</tr>

						<tr>
							<td><p:outputLabel style="margin-left: -72%;"
									value="Delivery date " for="deliveryDateu" /></td>

							<td><p:calendar showOn="both" placeholder=""
									id="deliveryDateu" styleClass="deliveryDate"
									style="margin-left: -16%;" pattern="dd/MM/yyyy"
									value="#{purchaseOrderBean.deliveryDate}"
									mindate="#{purchaseOrderBean.getMinDate()}" /></td>
						</tr>
						<tr>
							<td><p:commandButton ajax="false" value="CONFIRM"
									action="#{purchaseOrderBean.createPurchaseConfirm()}" /></td>
							<td><p:commandButton ajax="false" value="CANCEL"
									action="#{purchaseOrderBean.createPurchaseCancel()}" /></td>
						</tr>
					</table>
				</div>
			</h:panelGroup>
		</h:form>
	</div>




	<h:form>
		<h:panelGroup rendered="#{purchaseOrderBean.visibleUpdatePurchase}"
			styleClass="popup-panel-overlay">
			<div class="popup-panel">
				<table style="margin-left: 14%" cellpadding="17">

					<tr>
						<p:messages style="margin-left: 20%;color:red;" />
					</tr>
					<tr>
						<td><p:outputLabel style="margin-left: -22%;margin-top: 22%;"
								value="Product  " for="productu" /></td>

						<td><p:selectOneMenu id="productu"
								value="#{purchaseOrderBean.idProductSelect}">
								<f:selectItems var="p" itemValue="#{p.id}" itemLabel="#{p.name}"
									value="#{purchaseOrderBean.products}" />

							</p:selectOneMenu></td>
					</tr>

					<tr>
						<td><p:outputLabel style="margin-left: -22%;"
								value="Quantity  " for="quantityu" /></td>

						<td><h:inputText id="quantityu"
								value="#{purchaseOrderBean.quantity}" /></td>
					</tr>

					<tr>
						<td><p:outputLabel style="margin-left: -72%;"
								value="Delivery date " for="deliveryDateu" /></td>

						<td><p:calendar showOn="both" placeholder=""
								id="deliveryDateu" styleClass="deliveryDate"
								style="margin-left: -16%;" pattern="dd/MM/yyyy"
								value="#{purchaseOrderBean.deliveryDate}" /></td>
					</tr>
					<tr>
						<td><p:commandButton ajax="false" value="CONFIRM"
								action="#{purchaseOrderBean.updatePurchaseConfirm()}" /></td>
						<td><p:commandButton ajax="false" value="CANCEL"
								action="#{purchaseOrderBean.updateProductCancel()}" /></td>
					</tr>
				</table>
			</div>
		</h:panelGroup>
	</h:form>



	<script type="text/javascript">
		function myconfirm(name) {
			return confirm("Are you sure you want to delete purchaseOrder entry for product: \""
					+ name + "\" ?");
		}

		function toggle(id) {
			var x = document.getElementByClass("keySearch");

			if (id == 2)
				x.style.visibility = "visible";

			if (id == 3)
				x.style.display = "visible";

		}
	</script>
</h:body>

</html>

