@charset "ISO-8859-1";
:root {
  --color-background: #2b2b2f;
  --color-background-light: rgb(83, 85, 100);
  --color-font: #252733;
  --color-link: #DDE2FF;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: #F8F8F8;
	padding: 0;
	margin: 0;
}

.header {
	display: flex;
	height: 70px;
	padding-right: 32px;
	background: var(--color-background);
}

.header__logo {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 24px;
	margin: 0 auto 0 32px;
	padding-left: 38px;
	color: #A4A6B3;
}

.header__logo:before, .header__logo:after {
	position: absolute;
	left: 0;
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: var(--color-background-light);
	top: 50%;
	transform: translateY(-50%)
}

.header__logo:after {
	left: 8px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #F2F2F2;
}

.header__link {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 16px;
	font-size: 18px;
	color: var(--color-link);
	text-decoration: none;
}

.header__link--active {
	background: var(--color-background-light);
}

.header__link--active:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 5px;
	background: #DDE2FF; 
}

.button {
	display: flex;
	justify-content: center;
	border-radius: 30px;
	height: 40px;
	font-size: 14px;
	outline: none;
	border: none;
	padding: 0 20px;
	cursor: pointer;
}

.button--create {
	background: #29CC97;
	color: #fff;
}

.button--search {
	background: #363740;
	color: #fff;
	border-radius: 0px 20px 20px 0px;
}

.actions {
	display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
}

.search {
	display: flex;
	align-items: center;
}

.search__input {
	border: 1px solid #000000;
	height: 40px;
	border-radius: 20px 0px 0px 20px;
	outline: none;
	padding-left: 15px;
	font-size: 14px;
}

.checkbox-group {
	padding: 10px;
    border: 1px #333 solid;
    border-radius: 3px;
}

.popup-panel-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.popup-panel {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #DDD;
}

.popup-panel.popup-panel--wide {
	width: 500px
}

.popup-panel.popup-panel--wider {
	width: 600px
}