<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:body>
	<composite:interface>
		<composite:attribute name="activeLink"/>
	</composite:interface>
	
	<composite:implementation>
		<h:form class="header">
			<p class="header__logo">Stock Manager</p>

			<h:commandLink
				styleClass="#{cc.attrs.activeLink != 'Products' ? 'header__link' : 'header__link header__link--active'}"
				action="Products"
				value="Products"
			/>
			
			<h:commandLink
				styleClass="#{cc.attrs.activeLink != 'Inventory' ? 'header__link' : 'header__link header__link--active'}"
				action="Inventory"
				value="Inventory"
			/>
			
			<h:commandLink
				styleClass="#{cc.attrs.activeLink != 'PurchaseOrders' ? 'header__link' : 'header__link header__link--active'}"
				action="PurchaseOrders"
				value="Purchase orders"
			/>
		</h:form>
	</composite:implementation>
</h:body>
</html>
